/** Default CSS for all buttons **/

.appButton {
    box-sizing: border-box;
    border: 2px solid #2F2F2F;
    box-shadow: 1px 0px 0px #2F2F2F,0px 1px 0px #2F2F2F,
    2px 1px 0px #2F2F2F,1px 2px 0px #2F2F2F,
    3px 2px 0px #2F2F2F,2px 3px 0px #2F2F2F,
    4px 3px 0px #2F2F2F,3px 4px 0px #2F2F2F,
    5px 4px 0px #2F2F2F,4px 5px 0px #2F2F2F;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    /*text-align: center;*/
    text-transform: uppercase;
    transition: box-shadow 0.1s linear;


}

.appButton:active {
    transform: translate(5px, 5px);
    box-shadow: none;
}

/** Primary **/


.primary {
    background: #FFFB8F;
    color: #2F2F2F;
}

.primary:hover{
    background: #5F9FFF;
    color: #FCFCFC;
}

.primary:disabled {
    background: #F1EEB3;
    color: #AFAFAF;
    box-shadow: none;
    border: 2px solid #AFAFAF;
}


/** Secondary **/

.secondary {
    background: #FCFCFC;
    color: #2F2F2F;
}

.secondary:hover{
    background: #D886FF;
    color: #FCFCFC;
}

.secondary:disabled {
    box-shadow: none;
    background: #F1F1F1;
    border: 2px solid #AFAFAF;
    border-radius: 5px;
    color: #AFAFAF;
}


/** Tertiary **/

.tertiary {
    box-shadow: none;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    /* identical to box height */
    text-align: center;

    /* primary/blue 1 */
    color: #17336A;
}

.tertiary:hover {
    color: #5F9FFF;
}

.tertiary:active {
    color: #2066EF;
    transform: none;
}

/** large button **/

.large {
    border-radius: 5px;
    width: 494px;
    height: 60px;
    font-size: 20px;
    line-height: 27px;
}

/** medium button **/

.medium {
    border-radius: 3px;
    font-size: 18px;
    line-height: 25px;
    width: 225px;
    height: 44px;
}

.small {
    border-radius: 2px;
    font-size: 14px;
    line-height: 25px;
    width: 130px;
    height: 37px;
}


