.iconBox{
    border: 2px solid #272727;
    background: #1A1A1A;
    width: 40px;
    height: 40px;
    transform: translateX(0%) translateY(-50%);
    top: 0;
    z-index: 1;
    left: auto;
}

.stakeModalBody{
    border-top: 1px solid #383838;
}